{{ include('header.html') }}

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1>Carrito</h1>
            <div class="table-responsive">
                {% if productos %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for producto in productos %}
                    <tr>
                        <th scope="row">
                            <form method="post" action="carrito.php">
                                <div class="row">
                                    <input type="hidden" name="id" value="{{ producto.id }}">
                                    <input type="hidden" name="_metodo" value="DELETE">
                                    <div class="col">
                                        <button type="submit" class="form-control btn btn-danger">Eliminar</button>
                                    </div>
                                </div>
                            </form>
                        </th>
                        <td><img class="img-thumbnail" width="60px" src="vistas/assets/img/{{ producto.imagen }}"></td>
                        <td><span class="text-center">{{ producto.nombre }}</span></td>
                        <td>{{ producto.precio }} €</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.cantidad*producto.precio }} €</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    El Carrito esta vacio
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{{ include('footer.html') }}