{{ include('header.html') }}

<section class="highlight-phone">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2>Los mejores zapatos</h2>
                    <p>Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. Aliqua sed justo ligula.</p>
                    <a class="btn btn-primary" role="button" href="carrito.php">Carrito</a>
                </div>
            </div>
            <div class="col-sm-4"><img src="vistas/assets/img/zapatos%20header.png" style="width: 100%;"></div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row my-3">
        <div class="col">
            <div class="card-group">
                {% for producto in productos %}
                <div class="card">
                    <img class="card-img-top w-100 d-block" src="vistas/assets/img/{{ producto.imagen }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ producto.nombre }}</h4>
                        <p class="card-text">{{ producto.descripcion }}</p><a class="btn btn-primary" href="producto.php?id_producto={{ producto.id }}">Ver</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{{ include('footer.html') }}