{{ include('header.html') }}


<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="img-fluid img-thumbnail" src="vistas/assets/img/{{ producto.imagen }}"></div>
        <div class="col-md-6">
            <h1>{{ producto.nombre }} - {{ producto.precio }} €</h1>
            <p>{{ producto.descripcion }}</p>
            <form method="post" action="carrito.php">
                <div class="row">
                    <input type="hidden" name="id" value="{{ producto.id }}">
                    <input type="hidden" name="_metodo" value="PUT">
                    <div class="col">
                        <input min="1" name="cantidad" value="1" type="number" class="form-control">
                    </div>
                    <div class="col">
                        <button type="submit" class="form-control btn btn-primary">Comprar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{ include('footer.html') }}